<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>查询股票</title>
<!--    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
-->     <link rel="stylesheet" href="../../static/function/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../static/function/css/bootstrap.min.css">

</head>

<body class="bs-docs-home">
<!--
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">查询股票</a>
	</div>
	<div>
         <div class="alert alert-danger alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       <strong>注意!</strong> 分析预测结果供参考，本站不负法律责任
         </div>


         <form role="form" name="form1">

             <div class="form-group">
                 <label for="IDCard">请输入您的要查询的股票代码</label>
                 <div class="input-group">
                     <input type="text" class="form-control" id="StockID" name="StockID" placeholder="股票代码，如：601628" >
                     <span class="input-group-btn">
                         <button class="btn btn-default" type="button" onClick="form1.submit();" >查询</button>
                     </span>
                 </div>
             </div>

         </form>

    <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>注意!</strong> 没有查到数据，请检查股票代码，再次查询
    </div>

                       <div class="table-responsive">
                           <table  border="0" cellspacing="0" cellpadding="0" class="table">
                               <tr class=" label-primary">
                                   <th scope="col" width="50%" ><span style="color:white">股票名称</span></th>
                                   <th scope="col"><span style="color:white">股票代码</span></th>
                               </tr>
                               <tr class="active">
                                   <td width="50%">中国人寿</td>
                                   <td>601628</td>
                               </tr>
                               <tr class="success">
                                   <td>中国铝业</td>
                                   <td>601600</td>
                               </tr>
                               <tr class="active">
                                   <td>东方证券</td>
                                   <td>600958</td>
                               </tr>
                               <tr class="success">
                                   <td>华工科技</td>
                                   <td>000988</td>
                               </tr>
                           </table>
                       </div>

	</div>
	</div>

</nav>
-->
<a href="../introduction/index.html">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">返回首页</h3>
	</div>
</div>
</a>
    <div class="container theme-showcase">
        <h1 style=" line-height:2em;"> </h1><br />

        <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>股票代码查询</strong></h3>
                </div>
                <div class="panel-body">
                   <div class="alert alert-danger alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       <strong>注意!</strong> 分析预测结果供参考，本站不负法律责任 </div>

                       <form role="form" action="/search" name="form1" method="get">

                           <div class="form-group">
                               <label for="IDCard">请输入您的要查询的股票代码</label>
                               <div class="input-group">
                                   <input type="text" class="form-control" id="StockID" name="StockID" placeholder="股票代码，如：601766" >
                                   <span class="input-group-btn">
                                       <button class="btn btn-default" type="button" onClick="form1.submit();" >查询</button>
                                   </span>
                               </div>
                           </div>

                       </form>

                       <div class="alert alert-danger alert-dismissable">
                           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                           <strong>注意!</strong> 没有查到数据，请检查股票代码，再次查询
                       </div>

                       <div class="table-responsive">
                           <table  border="0" cellspacing="0" cellpadding="0" class="table">
                               <tr class=" label-primary">
                                   <th scope="col" width="50%" ><span style="color:white">股票名称</span></th>
                                   <th scope="col"><span style="color:white">股票代码</span></th>
                               </tr>
                               <tr class="active">
                                   <td width="50%">中国人寿</td>
                                   <td>601628</td>
                               </tr>
                               <tr class="success">
                                   <td>中国铝业</td>
                                   <td>601600</td>
                               </tr>
                               <tr class="active">
                                   <td>东方证券</td>
                                   <td>600958</td>
                               </tr>
                               <tr class="success">
                                   <td>华工科技</td>
                                   <td>000988</td>
                               </tr>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
<!--    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
--> <script src="../../static/function/js/jquery-1.10.2.min.js"></script>
    <script src="../../static/function/js/bootstrap.min.js"></script>



<!-- candlestick -->
<script src="../../static/function/js/jquery-3.1.1.min.js"></script>
<script src="../../static/function/highstock_code/highstock.js"></script>
<script src="../../static/function/highstock_code/modules/exporting.js"></script>

<div id="container1" style="height: 400px; min-width: 310px"></div>
<div id="container2" style="height: 400px; min-width: 310px"></div>
<div id="container3" style="height: 400px; min-width: 310px"></div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">股票预测</h3>
	</div>
	<div class="panel-body">
		股票原始收盘价和预测收盘价对比,准确度得分：{{ score }}
	</div>
</div>

<div id="container4" style="height: 400px; min-width: 310px"></div>

<script type="text/javascript">
     //Highcharts.setOptions({ global: { useUTC: false } });

var title = {{ stock_name|safe }};
var data ={{ candlestick_data|safe }};
 $(document).ready(function()  {
     ////////////////////////////////////
     ////////////////////////////////////
    // create the chart
    Highcharts.stockChart('container2', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: title
        },

        series: [{
            type: 'candlestick',
            name: title,
            data: data,
            dataGrouping: {
                units: [
                    [
                        'week', // unit name
                        [1] // allowed multiples
                    ], [
                        'month',
                        [1, 2, 3, 4, 6]
                    ]
                ]
            }
        }]
    });
});
</script>


<script type="text/javascript">
var title = {{ stock_name|safe }};
var data ={{ basicline_data|safe }};

 $(document).ready(function()  {
    // Create the chart
    Highcharts.stockChart('container3', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: title
        },

        series: [{
            name: title,
            data: data,
            tooltip: {
                valueDecimals: 2
            }
        }]
    });
});
</script>


<script type="text/javascript">

var title = {{ stock_name|safe }};
var data ={{ candlestick_volume_data|safe }};

 $(document).ready(function()   {

    // split the data set into ohlc and volume
    var ohlc = [],
        volume = [],
        dataLength = data.length,
        // set the allowed units for data grouping
        groupingUnits = [[
            'week',                         // unit name
            [1]                             // allowed multiples
        ], [
            'month',
            [1, 2, 3, 4, 6]
        ]],

        i = 0;

    for (i; i < dataLength; i += 1) {
        ohlc.push([
            data[i][0], // the date
            data[i][1], // open
            data[i][2], // high
            data[i][3], // low
            data[i][4] // close
        ]);

        volume.push([
            data[i][0], // the date
            data[i][5] // the volume
        ]);
    }


    // create the chart
    Highcharts.stockChart('container1', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: title
        },

        yAxis: [{
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'OHLC'
            },
            height: '60%',
            lineWidth: 2
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Volume'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
            split: true
        },

        series: [{
            type: 'candlestick',
            name: title,
            data: ohlc,
            dataGrouping: {
                units: groupingUnits
            }
        }, {
            type: 'column',
            name: 'Volume',
            data: volume,
            yAxis: 1,
            dataGrouping: {
                units: groupingUnits
            }
        }]
    });
});
</script>


<script type="text/javascript">

var seriesOptions = [],
    seriesCounter = 0,
    names = ['Origin', 'Predict'];

function createChart() {

  Highcharts.stockChart('container4', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value;
                }
            }
        },

        plotOptions: {
            series: {
                compare: 'value'
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y} CNY</b> ({point.change} CNY)<br/>',
            changeDecimals: 2,
            valueDecimals: 2
        },

        series: seriesOptions
    });
}

var data0 ={{ origin_data|safe }};
var data1 ={{ predict_data|safe }};

//$.each(names, function (i, name) {

    $(document).ready(function()  {

        seriesOptions[0] = {
            name: names[0],
            data: data0
        };
        seriesOptions[1] = {
            name: names[1],
            data: data1
        };
        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        //seriesCounter += 1;

       // if (seriesCounter === names.length) {
            createChart();
       // }
    });
//});

</script>

<script type="text/javascript">
    Highcharts.theme = {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                 '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
                ],
        chart: {
            backgroundColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 1,
                    y2: 1
                },
                stops: [
                    [0, '#2a2a2b'],
                    [1, '#3e3e40']
                ]
            },
            style: {
                fontFamily: '\'Unica One\', sans-serif'
            },
            plotBorderColor: '#606063'
        },
        title: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase',
                fontSize: '20px'
            }
        },
        subtitle: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase'
            }
        },
        xAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
                style: {
                    color: '#A0A0A3'
                }
            }
        },
        yAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            tickWidth: 1,
            title: {
                style: {
                    color: '#A0A0A3'
                }
            }
        },
        tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.85)',
            style: {
                color: '#F0F0F0'
            }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    color: '#B0B0B3'
                },
                marker: {
                    lineColor: '#333'
                }
            },
            boxplot: {
                fillColor: '#505053'
            },
            candlestick: {
                lineColor: 'white'
            },
            errorbar: {
                color: 'white'
            }
        },
        legend: {
            itemStyle: {
                color: '#E0E0E3'
            },
            itemHoverStyle: {
                color: '#FFF'
            },
            itemHiddenStyle: {
                color: '#606063'
            }
        },
        credits: {
            style: {
                color: '#666'
            }
        },
        labels: {
            style: {
                color: '#707073'
            }
        },
        drilldown: {
            activeAxisLabelStyle: {
                color: '#F0F0F3'
            },
            activeDataLabelStyle: {
                color: '#F0F0F3'
            }
        },
        navigation: {
            buttonOptions: {
                symbolStroke: '#DDDDDD',
                theme: {
                    fill: '#505053'
                }
            }
        },
        // scroll charts
        rangeSelector: {
            buttonTheme: {
                fill: '#505053',
                stroke: '#000000',
                style: {
                    color: '#CCC'
                },
                states: {
                    hover: {
                        fill: '#707073',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    },
                    select: {
                        fill: '#000003',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    }
                }
            },
            inputBoxBorderColor: '#505053',
            inputStyle: {
                backgroundColor: '#333',
                color: 'silver'
            },
            labelStyle: {
                color: 'silver'
            }
        },
        navigator: {
            handles: {
                backgroundColor: '#666',
                borderColor: '#AAA'
            },
            outlineColor: '#CCC',
            maskFill: 'rgba(255,255,255,0.1)',
            series: {
                color: '#7798BF',
                lineColor: '#A6C7ED'
            },
            xAxis: {
                gridLineColor: '#505053'
            }
        },
        scrollbar: {
            barBackgroundColor: '#808083',
            barBorderColor: '#808083',
            buttonArrowColor: '#CCC',
            buttonBackgroundColor: '#606063',
            buttonBorderColor: '#606063',
            rifleColor: '#FFF',
            trackBackgroundColor: '#404043',
            trackBorderColor: '#404043'
        },
        // special colors for some of the
        legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
        background2: '#505053',
        dataLabelsColor: '#B0B0B3',
        textColor: '#C0C0C0',
        contrastTextColor: '#F0F0F3',
        maskColor: 'rgba(255,255,255,0.3)'
    };
    Highcharts.setOptions(Highcharts.theme);
</script>
</body>
</html>