<!DOCTYPE HTML>
<html>
<head>
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ekomers Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../static/introduction/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../../static/introduction/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../static/introduction/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="login_header">
	  	<div class="container">
	  		<div class="header_top">
			<div class="logo">
				<a href="index.html" style="color: white;font-size: 18px"><img src="" alt=""/>华中科技大学电信学院本科毕业设计</a>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="../../static/introduction/images/menu.png" alt=""/></span>
				<ul class="nav1">
					<li><a href="index.html" class="active">首页 </a></li>
					<li><a href="#method" class="scroll">工具特点</a></li>
					<li><a href="#cases" class="scroll">消息推送</a></li>
					<li><a href="contact.html">联系方式</a></li>
				</ul>
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>
			<ul class="widget">
				<a href="register.html"><li class="join">注册</li></a>
				<a href="login.html"><li class="login">登录</li></a>
			</ul>
			<div class="clearfix"> </div>
		</div>
       </div>
      </div>
      <div class="container">
      	<div class="register">
		  	  <form> 
				 <div class="register-top-grid">
					<h3>个人信息</h3>
					 <div>
						 <span>电子邮件地址<label>*</label></span>
						 <input type="text"> 
					 </div>
					 <div class="clearfix"> </div>
					   <a class="news-letter" href="#">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
					   </a>
					 </div>
				     <div class="register-bottom-grid">
						    <h3>注册信息</h3>
							 <div>
								<span>密码<label>*</label></span>
								<input type="text">
							 </div>
							 <div>
								<span>确认密码<label>*</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
				   <form>
					   <input type="submit" value="注册">
					   <div class="clearfix"> </div>
				   </form>
				</div>
		   </div>
        <div class="footer">
	   	   <div class="col-xs-2">
	   	      <ul class="footer_social">
				<li><a href=""> <i class="fb1"> </i> </a></li>
				<li><a href=""> <i class="g1"> </i> </a></li>
	    	  </ul>
	       </div>
		   <div class="col-xs-8 client_bottom">
		   	 <div class="client_bottom1">
		   	  <img src="../../static/introduction/images/highstocks_1_1.jpg" class="img-responsive" alt=""/>
		   	  </div>
		      <!--<span> </span>-->
		   </div>
		   <div class="col-xs-2">
		     <ul class="footer_social social_right">
		        <li><a href=""> <i class="instagram"> </i> </a></li>
				<li><a href=""> <i class="tw1"> </i> </a></li>
	    	</ul>
	      </div>
		  <div class="clearfix"></div>
	  </div>
    </div>
</div>
<div class="footer_bottom">
   <div class="container">
   	<div class="copy">
   	  <img src="" alt=""/>
      <p>2017.华中科技大学电信学院本科毕业设计.<a target="_blank" href="">张金志</a></p>
    </div>
   </div>
</div>		
</body>
</html>		