<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ekomers Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../static/introduction/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../../static/introduction/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../static/introduction/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="login_header">
	  	<div class="container">
	  		<div class="header_top">
			<div class="logo">
				<a href="index.html" style="color: white;font-size: 18px"><img src="" alt=""/>华中科技大学电信学院本科毕业设计</a>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="../../static/introduction/images/menu.png" alt=""/></span>
				<ul class="nav1">
					<li><a href="index.html">首页 </a></li>
					<li><a href="#method" class="scroll">工具特点</a></li>
					<li><a href="#cases" class="scroll">消息推送</a></li>
					<li><a href="contact.html" class="active">联系方式</a></li>
				</ul>
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>
			<ul class="widget">
				<a href="register.html"><li class="join">注册</li></a>
				<a href="login.html"><li class="login">登录</li></a>
			</ul>
			<div class="clearfix"> </div>
		</div>
       </div>
      </div>
      <div class="container">
          <div class="register">
			     <div class="col-md-8">
				      <div class="contact-form">
				  	        <form method="post" action="contact-post.html">
					    	    <p class="comment-form-author"><label for="author">姓名:</label>
					    	    	<input type="text" class="textbox" value="Enter your name here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name here...';}">
						    	</p>
						        <p class="comment-form-author"><label for="author">邮箱:</label>
						     	   <input type="text" class="textbox" value="Enter your email here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						        </p>
						        <p class="comment-form-author"><label for="author">消息:</label>
						    	  <textarea value="Enter your message here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Enter your message here...</textarea>
						        </p>
						        <input name="submit" type="submit" id="submit" value="提交"  disabled="disabled">
					        </form>
				       </div>
			     </div>
			     <div class="col-md-4 contact_right">
					<h1>地址</h1>
				    <p>湖北省智能互联网技术重点实验室（华中科技大学）   湖北省武汉市洪山区珞瑜路1037号</p>
					<p>手机：18202723109</p>
					<a href="">邮箱：584392383@qq.com</a>
				</div>
		        <div class="clearfix"></div>
		</div>
		<div class="map">
            <iframe src="baidumap.html" frameBorder=10 height=100% width=100% scrolling=no></iframe>
        </div>
     </div>
    </div>
</div>    
<div class="footer_bottom">
   <div class="container">
   	<div class="copy">
   	  <img src="" alt=""/>
      <p>2017.华中科技大学电信学院本科毕业设计.<a target="_blank" href="">张金志</a></p>
    </div>
   </div>
</div>		
</body>
</html>		