<!DOCTYPE HTML>
<html>
<head>
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ekomers Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../static/introduction/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../../static/introduction/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../static/introduction/js/jquery-1.11.1.min.js"></script>
<script src="../../static/introduction/js/highcharts.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
</head>
<body>
<div class="header">
   <div class="container">
	  	<div class="header_top">
			<div class="logo">
				<a href="index.html" style="color: white;font-size: 18px"><img src="" alt=""/>华中科技大学电信学院本科毕业设计</a>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="../../static/introduction/images/menu.png" alt=""/></span>
				<ul class="nav1">
					<li class="active"><a href="index.html">首页 </a></li>
					<li><a href="#feature" class="scroll">工具特点</a></li>
					<li><a href="#price" class="scroll">消息推送</a></li>
					<li><a href="contact.html">联系方式</a></li>
				</ul>
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>
			<ul class="widget">
				<a href="register.html"><li class="join">注册</li></a>
				<a href="login.html"><li class="login">登录</li></a>
			</ul>
			<div class="clearfix"> </div>
		   </div>
       	   <div class="wmuSlider example1">
			   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
					  <div class="header_desc">
			            <div class="border"> </div>
			            <h1>证券数据可视化及推荐工具</h1>
			            <div class="button">
			            <a href="../function/query_stock.html" class="head_but">立即使用</a>
			          </div>
		              </div>
		    		</div>
					<div class="banner">
					     <img src="../../static/introduction/images/slide11.png" class="img-responsive" style="width: 100%" alt=""/>
					</div>
			   </article>
			   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	<div class="banner-wrap">
					 <div class="header_desc">
						<div class="border"> </div>
						<h1>证券数据可视化及推荐工具</h1>
						<div class="button">
						    <a href="#" class="head_but">立即使用</a>
						</div>
					</div>
		    		</div>
                   <div class="banner">
                       <img src="../../static/introduction/images/slide22.png" class="img-responsive" style="width: 100%" alt=""/>
                   </div>
				</article>
				 <script src="../../static/introduction/js/jquery.wmuSlider.js"></script>
					<script>
       				     $('.example1').wmuSlider();         
   					</script> 	        
				 </div>
            </div>
      </div>
<div class="features" id="feature">
  <div class="feature_head">
    <h2 class="m_1">工具特点</h2>
  </div>
	<div class="grid_1">
	  <div class="container">
	  	 <div class="features-grids text-center">
						<div class="col-md-3 features-grid column_1">
							<span> </span>
							<h3>操作简单</h3>
						</div>
						<div class="col-md-3 features-grid column_1">
							<span class="f-icon1"> </span>
							<h3>数据详细</h3>
						</div>
						<div class="col-md-3 features-grid column_1">
							<span class="f-icon2"> </span>
							<h3>开源免费</h3>
						</div>
						<div class="col-md-3 features-grid last">
							<span class="f-icon3"> </span>
							<h3>响应式</h3>
						</div>
						<div class="clearfix"> </div>
		 </div>
	  </div> 
	</div>
</div>   
<div class="sales">
	<div class="container">
		<div class="box_1">
			<div class="col-md-4 grid_2">
				<h4>今日大盘</h4>
			    <ul class="polygon">
				  <li><h5>上证指数  —— 3083</h5></li>&nbsp;&nbsp;&nbsp;
				  <li><img src="../../static/introduction/images/green.png" alt=""/><br>下跌</li>
				</ul>
			</div>
			<div class="col-md-4 grid_2">
				<h4>昨日大盘</h4>
			    <ul class="polygon">
				  <li><h5>上证指数  —— 3105</h5></li>&nbsp;&nbsp;&nbsp;
				  <li><img src="../../static/introduction/images/red.png" alt=""/><br>上涨</li>
				</ul>
			</div>
			<div class="col-md-4 grid_3">
				<h3>现有功能</h3>
				<p>该工具目前是用于对单支股票收盘价的分析预测。后续将会对股指进行分析预测，以便用于为股指期货的投资提供分析预测工具</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="box_2">
			<div class="col-md-6 chart_details">
				<h3>图表详情</h3>
				<p>为单支股票提供可视化的图表，便于投资者来直观地分析。单支股票的分析预测结果也会以可视化图表展示出来，并给出详细的预测准确度和可信度</p>
			</div>
			<div class="col-md-6">
				<div id="recipes" style="100%; height:260px; margin: 0 auto"></div>
						 <script>
						 $(function () {
					        $('#recipes').highcharts({
					            
					            title: {
					                text: ' ',
					                style: {
						                color: 'red',
						                fontWeight: '100'
						               
						            }
					            },
					           
					           xAxis: {
						            categories: ['AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN'],
						        },
					            
					            yAxis: {
						             labels: {
					                    formatter: function() {
					                        return this.value +'￥'
					                    }
					                },
							         title: {
						                    enabled: false
						                }
					            },
					             plotOptions: {
						            series: {
						            	 cursor: 'pointer',
						                color: '#e2b329'
						            }
						        },
					             
					            legend: {
						            enabled: false
						        },
					            
					            tooltip: {
					               shared: true,
               					   pointFormat: '{point.x} k',
               					    backgroundColor: '#FFFFFF'
					            },
					            
					            series: [{            
					                data: [3, 5.5, 5, 8.7, 5],
					                pointStart: 1
					            }]
					        });
					    });

						 </script>
				</div>			
			    <!---//End-chart---->
			    <div class="clearfix"> </div>
			</div>
			<div class="box_3">
				<div class="col-md-4 col_1">
					<h3>用户提问</h3>
					<ul class="list_2">
						<div class="recent">
							<div class="recent_left"><h5>近期提问</h5></div>
							<div class="recent_right"><p>标记为已读</p></div>
							<div class="clearfix"> </div>
						</div>
						<li><a href="#"><span class="m_1">08:00 AM</span>&nbsp;&nbsp;  -你好, 怎么添加自选股 ?</a></li>
						<li><a href="#"><span class="m_1">07:00 AM</span>&nbsp;&nbsp;  -我需要大量股票历史数据，可下载吗?</a></li>
						<li><a href="#"><span class="m_1">06:45 AM</span>&nbsp;&nbsp;  -这个工具覆盖 的股票范围有多广？</a></li>
						<li><a href="#"><span class="m_1">06:30 AM</span>&nbsp;&nbsp;  -这个工具提供的分析预测一定可靠吗？</a></li>
						<li><a href="#"><span class="m_1">05:00 AM</span>&nbsp;&nbsp;  -我想参与这个工具后续的开发，行吗？</a></li>
					</ul>
				</div>
				<div class="col-md-4 col_1">
					<h3>分析预览</h3>
					<ul class="list_3">
						<div class="recent">
							<div class="recent_left"><h5>近期潜力股</h5></div>
						    <div class="clearfix"> </div>
						</div>
						<li><a href="#">
							<div class="product_no"><p>1. 雷柏科技 600011</p></div>
							<div class="product_no-right"><p>准确度：91.0%</p></div>
							<div class="clearfix"> </div>
						</a></li>
						<li><a href="#">
							<div class="product_no"><p>2. 东方雨虹 6004902</p></div>
							<div class="product_no-right"><p>准确度：85.2%</p></div>
							<div class="clearfix"> </div>
						</a></li>
						<li><a href="#">
							<div class="product_no"><p>3. 金健米业 6004902</p></div>
							<div class="product_no-right"><p>准确度：81.6%</p></div>
							<div class="clearfix"> </div>
						</a></li>
						<li><a href="#">
							<div class="product_no"><p>4. 东方证券 6004902</p></div>
							<div class="product_no-right"><p>准确度：77.4%</p></div>
							<div class="clearfix"> </div>
						</a></li>
						<li><a href="#">
							<div class="product_no"><p>5. 华工科技 6004902</p></div>
							<div class="product_no-right"><p>准确度：68.5%</p></div>
							<div class="clearfix"> </div>
						</a></li>
					</ul>
				</div>
				<div class="col-md-4 col_1">
					<h3>相关链接</h3>
					<div class="social">
						<div class="recent">
							<div class="recent_left"><h5>量化平台</h5></div>
						    <div class="clearfix"> </div>
						</div>
						<ul>
							<li><a href="http://tushare.org/"> <i class="fb"> </i><span>Tushare</span></a></li>
							<li><a href="https://uqer.io/home/"> <i class="tw"> </i> <span>UQER优矿</span></a></li>
					  		<li><a href="https://www.joinquant.com/"> <i class="google"> </i><span>JoinQuant聚宽</span></a></li>
					  		<li><a href="https://www.ricequant.com/"> <i class="dribble"> </i><span>RiceQuant米筐</span></a></li>
						</ul>
						<div class="clearfix"></div>
				   </div>
				</div>
				<div class="clearfix"> </div>
		 </div>
		 <div class="price" id="price">
		 	<div class="feature_head">
              <h3 class="m_2">消息推送</h3>
            </div>
          <div class="box_6">
		 	<div class="col-md-6 box_1">
		 		<div class="col_1_of_price1 span_1_of_price1 left_grid">
		 		   <h5>个人用户</h5>
				   <div class="price_but">
			          <a href="#" class="head_but">提供邮箱</a>
			       </div>
		 		</div>
		 		<div class="col_1_of_price1 span_1_of_price1 small">
		 		   <h3>邮箱推送</h3>
		 		   <h4>￥0/月</h4>
		 		   <div class="list_1">
		            <ul>
		              <li><a href="">基本功能</a></li>
		           </ul>
		        </div>
		 		</div>
		 	</div>
		 	<div class="col-md-6 box_5">
		 		<div class="col_1_of_price1 span_1_of_price1 big">
		 		   <h3>微信推送</h3>
		 		   <h4>￥1/月</h4>
		 		   <div class="list_1">
		            <ul>
		              <li><a href="">基本功能</a></li>
		              <li><a href="">更多数据</a></li>
		              <li><a href="">分析报告</a></li>
		              <li><a href="">更多...</a></li>
		           </ul>
		          </div>
		 		</div>
		 		<div class="col_1_of_price1 span_1_of_price1 right_grid">
		 		   <h5>个人用户</h5>
				   <div class="price_but">
			          <a href="#" class="head_but">选择付费</a>
			       </div>
		 		</div>
		     </div>
		 	<div class="clearfix"> </div>
		  </div>
	   </div>
	   <div class="clients">
	   	    <div class="feature_head">
              <h3 class="m_2">效果展示</h3>
            </div>
            <ul class="client">
            	<li><img src="../../static/introduction/images/highstocks_1_1_1.jpg" class="img-responsive" alt=""/></li>
            	<li><img src="../../static/introduction/images/highstocks_1.jpg" class="img-responsive" alt=""/></li>
            	<li><img src="../../static/introduction/images/highstocks_2.jpg" class="img-responsive" alt=""/></li>
            	<li><img src="../../static/introduction/images/highstocks_3.jpg" class="img-responsive" alt=""/></li>
            	<div class="clearfix"> </div>
            </ul>
	   </div>
	   <div class="footer">
	   	   <div class="col-xs-2">
	   	      <ul class="footer_social">
				<li><a href=""> <i class="fb1"> </i> </a></li>
				<li><a href=""> <i class="g1"> </i> </a></li>
	    	  </ul>
	       </div>
		   <div class="col-xs-8 client_bottom">
		   	 <div class="client_bottom1">
		   	  <img src="../../static/introduction/images/highstocks_1_1.jpg" class="img-responsive" alt=""/>
		   	  </div>
		      <!--<span> </span>-->
		   </div>
		   <div class="col-xs-2">
		     <ul class="footer_social social_right">
		        <li><a href=""> <i class="instagram"> </i> </a></li>
				<li><a href=""> <i class="tw1"> </i> </a></li>
	    	</ul>
	      </div>
		  <div class="clearfix"></div>
	  </div>
    </div>
</div>    
<div class="footer_bottom">
   <div class="container">
   	<div class="copy">
   	  <img src="" alt=""/>
      <p>2017.华中科技大学电信学院本科毕业设计.<a target="_blank" href="">张金志</a></p>
    </div>
   </div>
</div>		
</body>
</html>		